table{
            border-collapse:collapse;
            border:2px solid green;
            
        }
        th{
            background-color:steelblue;
            color:black;
            height:30px;
            border:1px solid green;
        }
        td{
            border:1px solid green;
        }
        button{
            width: 100px;
            height: 30px;
            color:red;
        }

/* utama */
        .container .utama {
            display: grid;
            grid-template-columns: 1fr 4fr;
            height: 89vh;
        }
        .container .utama .side{
            background-color: rgb(181, 171, 216);
            /* justify-items: center; */
            font-size: 1rem;
            line-height: 1.7rem;
            /* text-align: center; */
        }
        .container .utama .side form{
            padding: 10px;
        }
        .container .utama .side form input{
            width: 100px;
        }
        .container .utama .main{
            background-color: rgb(124, 175, 137);
            line-height: 1.5rem;
            justify-items:center;
            overflow: scroll;
        }
